---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Card from "@components/Card";
import { getCollection } from "astro:content";
const posts = await getCollection("blog");
const techPosts = posts.filter(post => post.data.type === "TECH");
---

<Layout title="Tech Posts">
  <Header activeNav="tech" />
  <Main pageTitle="Tech Posts" pageDesc="All tech-related articles.">
    <ul>
      {
        techPosts.map(({ data, slug }) => (
          <Card href={`/posts/${slug}`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>
  <Footer />
</Layout>
