.prose h3 {
  font-style: italic;
}

.prose p {
  color: var(--color-skin-base);
}

.prose a {
  color: var(--color-skin-base);
  text-decoration-style: dashed;
  text-underline-offset: 2rem;
}
.prose a:hover {
  color: var(--color-skin-accent);
}

.prose blockquote {
  border-left: 4px solid var(--color-skin-accent);
  opacity: 0.8;
}

.prose figcaption {
  color: var(--color-skin-base);
  opacity: 0.7;
}

.prose strong {
  color: var(--color-skin-base);
}

.prose code {
  border-radius: 0.25rem;
  background-color: var(--color-skin-card);
  opacity: 0.75;
  padding: 0.25rem;
}

.prose code::before,
.prose code::after {
  content: none;
}

.prose ol {
  color: var(--color-skin-base);
}

.prose ul {
  overflow-x: clip;
  color: var(--color-skin-base);
}

.prose li::marker {
  color: var(--color-skin-accent);
}

.prose table {
  color: var(--color-skin-base);
}

.prose th {
  border: 1px solid var(--color-skin-line);
}

.prose td {
  border: 1px solid var(--color-skin-line);
}

.prose img {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid var(--color-skin-line);
}

.prose hr {
  border-color: var(--color-skin-line);
}
