---
import { SkiCycleRunConfig } from "skicyclerun.config";
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";
import LinkButton from "@components/LinkButton.astro";
---

<BaseLayout title={`404 Not Found | ${SkiCycleRunConfig.title}`}>
  <Header />

  <main id="main-content">
    <div class="not-found-wrapper">
      <h1 aria-label="404 Not Found">404</h1>
      <span aria-hidden="true">¯\_(ツ)_/¯</span>
      <p>Page Not Found</p>
      <LinkButton
        href="/"
        className="my-6 text-lg underline decoration-dashed underline-offset-8"
      >
        Go back home
      </LinkButton>
    </div>
  </main>
</BaseLayout>

<style>
  #main-content {
    @apply mx-auto flex flex-1 items-center justify-center;
    max-width: 48rem;
  }
  .not-found-wrapper {
    @apply flex flex-col items-center justify-center;
    margin-bottom: 3.5rem;
  }
  .not-found-wrapper h1 {
