---
import HookDebugComponent from '@components/HookDebug.jsx';
import blockedStopSvg from '@svg_imgs/blocked-stop.svg';
---

<h1>Hook Debug Page</h1>
<HookDebugComponent client:load />
<style>
  h1 {
    @apply my-8 text-center text-3xl font-bold;
  }
</style>
