---
import { Authenticator } from "@aws-amplify/ui-react";
import "@aws-amplify/ui-react/styles.css";
import "../amplify-config";
---

<Authenticator client:only="react">
  {
    context => {
      console.log("Authenticator context:", context);
      if (!context) return <div>Loading context...</div>;
      if (!context.user) return <div>Please sign in to access this page.</div>;
      return (
        <div>
          <h1>Welcome, {context.user.username}</h1>
          <p>This is a protected page.</p>
          <button onClick={context.signOut}>Sign out</button>
        </div>
      );
    }
  }
</Authenticator>
