---
interface Props {
  noPadding?: boolean;
  ariaHidden?: boolean;
  marginY?: string;
}

const { noPadding = false, ariaHidden = true, marginY = "my-6" } = Astro.props;
---

<div class="hr-wrapper">
  <div class={`w-full mx-auto ${noPadding ? "px-0" : "px-4"} ${marginY}`}>
    <hr
      style="border-color: var(--color-skin-line);"
      aria-hidden={ariaHidden}
    />
  </div>
</div>

<style>
  .hr-wrapper {
    max-width: 1024px;
    margin: 0 auto;
    width: 100%;
  }
</style>
