---
export interface Props {
  tag: string;
  size?: "sm" | "lg";
}

const { tag, size = "sm" } = Astro.props;
---

<li
  class={`inline-block ${
    size === "sm" ? "my-1 underline-offset-4" : "my-3 mx-1 underline-offset-8"
  }`}
>
  <a
    href={`/tags/${tag}`}
    transition:name={tag}
    class={`${size === "sm" ? "text-sm" : "text-lg"} group`}
  >
    <span class="tag-text">#{tag}</span>
  </a>
</li>

<style>
  a {
    position: relative;
    text-decoration: underline;
    text-decoration-style: dashed;
    display: inline-block;
  }
  a:hover {
    top: -0.125rem;
    color: var(--color-skin-accent);
  }
  a:focus-visible {
    padding: 0.25rem;
  }
  .tag-text {
    white-space: nowrap;
  }
</style>
