---
import BreadcrumbNav from "@components/BreadcrumbNav.astro";

interface StringTitleProp {
  pageTitle?: string;
  pageDesc?: string;
  usePostsGutter?: boolean;
}

interface ArrayTitleProp {
  pageTitle?: [string, string];
  titleTransition?: string;
  pageDesc?: string;
  usePostsGutter?: boolean;
}

export type Props = StringTitleProp | ArrayTitleProp;

const { props } = Astro;
---

<BreadcrumbNav />

<div class="max-w-5xl mx-auto w-full px-4 box-border">
  {
    props.pageTitle ? (
      "titleTransition" in props && Array.isArray(props.pageTitle) ? (
        <h1 class="text-2xl sm:text-3xl font-semibold mb-2">
          {props.pageTitle[0]}
          <span transition:name={props.titleTransition}>
            {props.pageTitle[1]}
          </span>
        </h1>
      ) : (
        <h1 class="text-2xl sm:text-3xl font-semibold mb-2">
          {typeof props.pageTitle === "string"
            ? props.pageTitle
            : props.pageTitle?.join(" ")}
        </h1>
      )
    ) : null
  }
  {
    props.pageDesc ? (
      <p class="mt-2 mb-6 italic text-skin-base">{props.pageDesc}</p>
    ) : null
  }
  <main id="main-content" class="w-full mx-auto px-4 pb-4">
    <slot />
  </main>
</div>

<style>
  /* Minimal custom styles - rely on Tailwind */
</style>
